
#login{

    background-color:white;
    background-image: url("images/img.jpg") ;
    width: 3778px;
    height: 2519px;
    z-index: 300;
    background-size: cover;

}

.modal-backdrop {

    background-color:transparent;

}

.ModalheaderText{

    font-size: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6e31a0;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;

}

#loginButton{

    background-color:#6e31a0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;

}

#LandingTitle{

    font-size: 36px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #6e31a0;
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
}


.labels{

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2c55a7;
    font-size: 20px;
    padding-bottom:10px;
    font-weight: bold;

}

#logOutLink{

    float: right;
    margin-right:30px;
    color: #6e31a0;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;

}


#navBar{

    width: 100%;
    float: left;
    position: absolute;
    height:50px;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);


}
.panel > .panel-heading {

    background-image: none;
    background-color: red;
    color: white;

}